{% extends '::base.html.twig' %}

{% block title %}Accueil & articles{% endblock %}
{% block body %}

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="{{ path('blog_homepage2') }}">Accueil</a>
          <a class="blog-nav-item" href="#">Nouveautés</a>
          <a class="blog-nav-item" href="{{ path('creation_article') }}">Ecrire un article</a>
          <a class="blog-nav-item" href="#">A propos</a>
        </nav>
      </div>
    </div>
	<br />
    
    <div class="container">
	<h1>Modification de l'article</h1>
	<form action="{{ path('modifier_envoi_article')}}" method="post">
		<input name="id" type="hidden" value="{{id_article}}" />
		<input name="titre" type="text" value="{{titre_article}}" placeholder="titre de l'article" /> <br /> <br />
		<textarea id="contenu" name="contenu" placeholder="contenu"> </textarea> <br /> <br />
		<input type="submit" value="Modifier l'article" />
	</form>

	<!-- Modifier le contenu du textarea -->
	<script>document.getElementById("contenu").value = "{{contenu_article}}"; </script>
  	
  	</div><!-- /.container -->

	<!-- Scripts interaction articles avec un utilisateur authentifié
	========================================================================-->
	{% if is_granted("ROLE_USER") %}
		{% block scripts %}
			<script type="text/javascript" src=" {{ asset('js/js_mc.js') }} "></script>
		{% endblock %}
	{% endif %}

{% endblock %}